{{- /* See https://masterminds.github.io/sprig/ */ -}}


{{- /* Keep track of our various counts */ -}}

{{- $e := 0 -}}
{{- $w := 0 -}}
{{- $s := 0 -}}
{{- $f := 0 -}}

{{- /* Range over the linted files */ -}}

{{- range .Files}}

    {{- /* Create new table, increment file count, print path */ -}}
    {{$table := newTable true}}
    {{- $f = add1 $f -}}
    {{- .Path | underline | indent 1 -}}

    {{- /* Range over the file's alerts */ -}}

    {{- range .Alerts -}}

        {{- /* Color code and increment */ -}}

        {{- $error := "" -}}
        {{- $match := "" -}}
        {{- if eq .Severity "error" -}}
            {{- $error = .Severity | red -}}
            {{- $match = .Match | red -}}
            {{- $e = add1 $e  -}}
        {{- else if eq .Severity "warning" -}}
            {{- $error = .Severity | yellow -}}
            {{- $match = .Match | yellow -}}
            {{- $w = add1 $w -}}
        {{- else -}}
            {{- $error = .Severity | blue -}}
            {{- $match = .Match | blue -}}
            {{- $s = add1 $s -}}
        {{- end}}

        {{- /* Get location */ -}}
        {{- $loc := printf "%d:%d" .Line (index .Span 0) -}}
        
        {{- /* Get rest of row contents */ -}}
        {{- $row := list $loc $match .Message .Check | toStrings -}}

        {{- /* Add row to the table */ -}}
        {{- $table = addRow $table $row -}}
    {{end -}}

{{- $table = renderTable $table -}}
{{end}}
{{- $e}} {{"errors" | red}}, {{$w}} {{"warnings" | yellow}} and {{$s}} {{"suggestions" | blue}} in {{$f}} {{$f | int | plural "file" "files"}}.